{% extends 'base.html' %}

{% block content %}
    <div class="content">
      {% if file_names != [] %}
        <p>This folder contains files:</p>
        <ul>
          {% for file in file_names %}
            <li>{{ file }}</li>
          {% endfor %}
        </ul>
      {%else %}
        <p><em>There aren't any files in this directory</em></p>
      {% endif %}
      <p>Upload file:</p>
      <form method="post" enctype=multipart/form-data>
        <input type="file" name="file">
        <br>
        <input type="submit" value="nahrát">
      </form>
    </div>
    <div class="sidebar">
      {% include '/sidebar.html' %}
    </div>
{% endblock %}
